@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;700;800&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
  width: 50vw;
  max-width: 700px;
  height: 70vh;
  border: solid black;
  margin: 15vh 25vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  user-select: none;
}

#titleSect {
  padding: 2vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 3px;
}

#renew {
  /* color: black; */
  /* display: flex; */
  /* align-items: center; */
  /* border: none; */
}

#listTitle {
  font-size: 2rem;
  margin: 0;
}

#formSect {
  display: flex;
  width: 100%;
}

#inputForm {
  width: 100%;
  display: flex;
  padding: 0 2vw;
  justify-content: space-between;
  border-bottom: solid black 3px;
  height: 7vh;
}

#taskInput {
  border: none;
  font-size: 1.2rem;
  font-family: 'JetBrains Mono', monospace;
  padding: 2vh 0;
  width: 90%;
  outline: none;
}

#addTaskBttn {
  position: relative;
  border: none;
  background-color: white;
  padding: 0;
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.taskWrap {
  display: flex;
  align-items: center;
  padding: 2vh;
  gap: 10px;
  border-bottom: solid black 1px;
}

.moreBttn {
  margin-left: auto;
  width: 30px;
}

.checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.taskLabel {
  font-size: 1rem;
  outline: none;
  border: none;
  font-family: 'JetBrains', monospace;
}

.completed {
  text-decoration: line-through;
}

.taskLabel::selection {
  color: white;
  background: black;
}

#clearBttnSect {
  position: relative;
  width: 100%;
  border-top: solid black 3px;
  margin-top: auto;
}

#clearBttn {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.moreMenu {
  margin-left: auto;
  display: flex;
  gap: 10px;
  width: 120px;
  justify-content: end;
}

.menuVis {
  display: flex;
}

.menuHide {
  display: none;
}

.material-symbols-outlined {
  cursor: pointer;
  user-select: none;
}

@media all and (max-width: 768px) {
  body {
    width: 80vw;
    margin: 15vh 10vw;
    height: 70vh;
  }

  .taskWrap {
    max-width: 80vw;
    gap: 0;
  }

  .taskLabel {
    max-width: 30vw;
  }
}
